/* Global elements */
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Lato",sans-serif
}
html,body {
    width:100%;
    height:100%
}
ul {list-style:none}
a {
    text-decoration:none;
    color:#000
}

 /* Main header */
.main-header {
    width:100%;
    max-width:1440px;
    padding:40px 20px;
    margin:auto
}
@media(min-width: 1440px){
    .main-header {padding:40px 100px}
}
/* Logo */
.main-header img {
    width:268px;
    height:auto;
    display:block;
    margin:auto
}
/* Search Form */
.search-form {
    position:relative;
    margin:20px 0
}
.search-form input {
    width:100%;
    height:69px;
    padding:0 20px;
    font-size:1rem;
    background:#e7e7e7;
    border:none;
    border-radius:5px
}
.search-form button {
    position:absolute;
    right:17px;
    top:0;
    height:69px;
    font-size:1.8rem;
    background:#11ffee00;
    border:none;
    border-radius:5px
}
.search-form button:hover {cursor:pointer}

/* Labels */
.labels {
    margin-bottom:15px;
    display:flex;
    flex-wrap:wrap
}
.labels button {
    border:none;
    color:#fff;
    font-weight:500;
    font-size:1rem;
    border-radius:5px;
    padding:8px 20px;
    margin:0 10px 10px 0
}
.labels button:hover {cursor:pointer}
.labels button span {margin-left:10px}
.label.ing {background:#3282f7}
.label.app {background:#68d9a4}
.label.ust {background:#ed6454}

/* Filters */
.filters-elt {
    display:inline-block;
    height:69px;
    width:100%;
    position:relative;
    margin:0 0 10px 0;
    border-radius:5px
}
@media(min-width: 600px){
    .filters-elt:nth-child(2) {
        margin-left:20px;
        margin-right:20px}
    }
@media(min-width: 600px){
    .filters-elt{width:170px}
    .filters-elt.scaled{width:600px}
}
.filters-elt input {
    height:69px;
    width:100%;
    border:none;
    border-radius:5px;
    color:#fff;
    font-size:1.1rem;
    font-weight:500;
    padding:0 40px 0 10px
}
.filters-elt input:hover{cursor:pointer}
.filters-elt input::placeholder{color:#fff}
.filters-elt:nth-child(1){background:#3282f7}
.filters-elt:nth-child(1)>div,.filters-elt:nth-child(1)>input{background:#3282f7}
.filters-elt:nth-child(1) li:hover{background-color:#0751bc}
.filters-elt:nth-child(2){background:#68d9a4}
.filters-elt:nth-child(2)>div,.filters-elt:nth-child(2)>input{background:#68d9a4}
.filters-elt:nth-child(2) li:hover{background-color:#2caf72}
.filters-elt:nth-child(3){background:#ed6454}
.filters-elt:nth-child(3)>div,.filters-elt:nth-child(3)>input{background:#ed6454}
.filters-elt:nth-child(3) li:hover{background-color:#c62715}
.filters-elt span {
    position:absolute;
    display:block;
    right:15px;
    top:50%;
    transform:translateY(-50%);
    font-size:1.5rem;color:#fff
}
.filters-elt span:hover{cursor:pointer}
.filters .filters-all {
    width:100%;
    position:absolute;
    z-index:5;
    left:0;
    top:65px;
    border-radius:0 0 5px 5px;
    padding:10px;
    display:none
}
.filters .filters-all ul {
    display:flex;
    width:100%;
    flex-wrap:wrap
}
.filters li {
    margin-bottom:5px;
    padding:5px 10px;
    transition:background-color .3s;
    border-radius:15px
}
.filters a {
    display:block;
    width:120px;
    height:100%
}
.filter-tag{color:#fff}
.filters-all.open{display:block}

/* Main Content */
.main-content {
    width:100%;
    max-width:1440px;
    margin:auto;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:stretch
}
@media(min-width: 1440px){
    .main-content {
        justify-content:space-between;
        padding:0 100px
    }
}
/* Recipe */
.recipe {
    width:100%;
    max-width:380px;
    border-radius:5px;
    margin:0 20px 50px 20px;
    align-self:stretch;
    transition:box-shadow .2s
}
.recipe:hover{box-shadow:0 0 15px rgba(0,0,0,.4)}
@media(min-width: 1440px){
    .recipe{margin:0 0 50px 0}
}
.recipe a {
    display:flex;
    flex-direction:column;
    height:100%
}
.recipe-img {
    width:100%;
    height:178px;
    background:#c7bebe;
    border-radius:5px 5px 0 0
}
.recipe-data {
    padding:20px;
    background:#e7e7e7;
    border-radius:0 0 5px 5px;
    flex-grow:1
}
.recipe-data header {
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px
}
.recipe-data h2 {
    font-size:1.2rem;
    font-weight:400
}
.recipe-data strong{font-weight:700}
.recipe-time {
    font-size:1.2rem;
    font-weight:700
}
.recipe-category {
    display:inline-block;
    width:50%;
    vertical-align:top;
    font-size:.8rem;
    padding-right:5px
}
.result {
    text-align:center;
    font-size:1.2rem
}
.overlay {
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    display:none
}
